.app-wrap{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header header"
  "navigation content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
    grid-area: content;
    background-color:darkkhaki;
    border-top:1px solid #5E5E5E;
}